genomad_db
test
test_data
proc
PhageBoost
DeepVirFinder




*.tfrec
*_prodigal.gff
*_prodigal.faa

*.fna
*.fna.gz
*.contig
*.fasta
*.fasta.gz
*.gbff
*.gbff.gz
*~
*.zip
datasets
*/ncbi_dataset

*.pileup
*.mpileup

md5sum.txt

*.vcf
*.bcf

*.bam
*.bai
*.sam

*/*.jsonl
*.dmanifest
*/md5sum.txt

*.fastq
*.fastq.gz
*.fq
*.fq.gz

*.gfa


10-platon/db

*quast_results/latest

# Ignore all PhaME output directories
**/*workdir*/results/gaps/**
**/*workdir*/results/miscs/**
**/*workdir*/results/snps/**
**/*workdir*/results/stats/**
**/*workdir*/results/tables/**
**/*workdir*/results/alignments/**
**/*workdir*/results/temp/**
**/*workdir*/files/**



# SNP calling indexes
*.bwt
*.pac
*.sa
*.fai

# Parsnp outputs
parsnp.xmfa
parsnp.maf
*.ref

### BLAST-related files
*.nhr
*.nin
*.not
*.nsq
*.ntf
*.nto
*.ndb

wget-log

checkm_out